<style>
  .navbar {
    max-width: var(--container-max-size);
    padding: var(--space-7) var(--container-padding-sides);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }
  .navbar nav {
    flex: 1;
  }
  .navbar a {
    text-decoration: none;
    color: unset;
  }
  .navbar a:hover {
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
  }
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-6);
    row-gap: var(--space-4);
    flex-wrap: wrap;
  }
  .navbar-links > *:nth-child(2) {
    margin-left: auto;
  }
  .link-home {
    font-weight: bold;
    color: var(--color-primary);
    font-size: var(--font-size-lg);
  }
  @media (max-width: 1250px) {
    .navbar-links > *:nth-child(1) {
      width: 100%;
    }
    .navbar-links > *:nth-child(2) {
      margin-left: unset;
    }
  }
</style>

<header class="navbar">
  <nav>
    <ul class="navbar-links">
      <li class="link-home">
        <a href="/">{{ site.shortTitle }}</a>
      </li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
  </nav>
  {% include "dark-toggler.liquid" %}
</header>
