---
layout: layouts/default.liquid
---

<div class="main-sections">
  <section>
    <h2>Latest</h2>
    {% assign posts = collections.posts %}
    {% assign count = 1 %}
    {% include "postlist.liquid" %}
  </section>

  {% assign tagList = collections | postTags %} {% if tagList.length > 0 %}
  <section>
    <h2>Topics</h2>
    {%- for tag in tagList -%}
    <a href="/tags/{{ tag.name }}">{{ tag.name }}({{ tag.count }})</a>{% if
    forloop.last != true %}<span>, </span>{% endif %} {%- endfor -%}
  </section>
  {% endif %}

  <section>
    <h2>More articles</h2>
    {% assign posts = collections.posts %}
    {% assign count = 5 %}
    {% assign offset = 1 %}
    {% include "postlist.liquid" %}
    <a class="articles-link" href="/articles">All the articles</a>
  </section>
</div>

<style>
  .main-sections {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
  }
  .articles-link {
    display: block;
    margin-top: var(--space-4);
  }
</style>
